<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Kalam:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="header">
            <h1>Evaluate News</h1>
        </div>
    </header>

    <main>
        <section>
            <form class="form" onsubmit="return Client.handleSubmit(event)">
                <input id="user_input" type="text" name="input" id="submit" value="" onblur="onBlur()" placeholder="Place tweet here to evaluate!">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <div class="formResults">
                        <strong>Results:</strong>
                        <div id="results"></div>
                    </div>
                </section>
    </main>

    <footer class = "footer">
        <ul>
            <li class="footerLink"><a href="#" class="fa fa-twitter" rel="noopener" target="_blank">Share to
                    Twitter</a></li>
            <li class="footerLink"><a href="#" class="fa fa-facebook" rel="noopener" target="_blank">Share to
                    Facebook</a></li>
            <li class="footerLink"><a a href="#" class="fa fa-linkedin" rel="noopener" target="_blank">Share to
                    LinkedIn</a></li>
        </ul>
    </footer>

</body>

</html>