<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Kalam:wght@300;700&display=swap" rel="stylesheet">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="header">
            <h1>Evaluate News Articles</h1>
        </div>
    </header>

    <main>
        <section>
            <form class="form" onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <div class="formResults">
                        <strong>Form Results:</strong>
                        <div id="results"></div>
                    </div>
                </section>
    </main>

    <footer class = "footer">
        <ul>
            <li class="footerLink"><a href="#" class="fa fa-twitter" rel="noopener" target="_blank">Share to
                    Twitter</a></li>
            <li class="footerLink"><a href="#" class="fa fa-facebook" rel="noopener" target="_blank">Share to
                    Facebook</a></li>
            <li class="footerLink"><a a href="#" class="fa fa-linkedin" rel="noopener" target="_blank">Share to
                    LinkedIn</a></li>
        </ul>
    </footer>

</body>

</html>