.footer {
    display: flex;
    justify-content: space-evenly;
}


.footerLink {
    display: block;
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}